<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1.5,0}</string>
                <key>spriteSize</key>
                <string>{23,25}</string>
                <key>spriteSourceSize</key>
                <string>{30,25}</string>
                <key>textureRect</key>
                <string>{{1,28},{23,25}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>25 25 2 25 2 0 25 0</string>
                <key>verticesUV</key>
                <string>24 53 1 53 1 28 24 28</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0.5}</string>
                <key>spriteSize</key>
                <string>{23,24}</string>
                <key>spriteSourceSize</key>
                <string>{25,25}</string>
                <key>textureRect</key>
                <string>{{1,55},{23,24}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>3 4 5 1 3 5 1 2 3 0 1 5</string>
                <key>vertices</key>
                <string>24 4 18 24 1 24 1 6 7 0 17 0</string>
                <key>verticesUV</key>
                <string>24 59 18 79 1 79 1 61 7 55 17 55</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0.5,0}</string>
                <key>spriteSize</key>
                <string>{24,25}</string>
                <key>spriteSourceSize</key>
                <string>{25,25}</string>
                <key>textureRect</key>
                <string>{{1,1},{24,25}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>3 4 5 1 3 5 1 2 3 0 1 5</string>
                <key>vertices</key>
                <string>25 1 19 25 1 24 1 4 5 0 18 0</string>
                <key>verticesUV</key>
                <string>25 2 19 26 1 25 1 5 5 1 18 1</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>link_walking_left.png</string>
            <key>size</key>
            <string>{26,80}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3ce9e7b97d0dc289292cfd6fe145a4a1:f734fc49df2a17a7934f3946aa03b84f:c7426bc2b0e9bf947d522b45e1bcfe0b$</string>
            <key>textureFileName</key>
            <string>link_walking_left.png</string>
        </dict>
    </dict>
</plist>
